.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e4e4e4;
}

.box {
  width: 80%;
  padding: 30px;
  background-color: #e4e4e4;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h5, h6, p {
  color: black;
  margin: 0;
  font-weight: bold;
}

h5 {
  font-size: 36px;
  margin-bottom: 20px;
}

h6 {
  font-size: 28px;
  margin-bottom: 10px;
}

ul, ol {
  text-align: left;
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  list-style-position: outside;
}

ul li, ol li {
  color: black;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
}

ol li {
  counter-increment: step-counter;
  position: relative;
}

ol li::before {
  content: counter(step-counter);
  display: block;
  position: absolute;
  left: -40px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e4e4;
  line-height: 30px;
  text-align: center;
}
