body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background: #7bb0da;
}


.react-flow .react-flow__handle {
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: #57578200;
  /* border-color: #57578200; */
}


.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2.5;
}


.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject div {

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.text-updater-node {
  border-radius: 5px;
}

.text-updater-node div {
  background: none;
  border-radius: 5px;
}

.text-updater-node input {
  color: white;
  border: none;
  /* padding: 5px;  */
  border-radius: 5px; 
  font-size: 85%;
}

.text-updater-node input[type="text"] {
  border-bottom: 2px solid #232327;
}

.text-updater-node div input {
  color: white;
  border: none;
  width: 100px;
  
}

.text-updater-node div button {
  border: none;
  font-size: 10px;
  font-weight: bold;
}


.delete-button {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  background: #ff4d4d;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  outline: none;
}

.delete-button:hover {
  transform: scale(1.2);
}

.controls {
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


