body{
    background: radial-gradient(#e5e5e5, #ffffff, #e5e5e5 );
}

.card{
    border-color:#e5e5e5 !important;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(247, 246, 246, 0.252) !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: 0.5rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top: 6rem;
}
html {
    background: linear-gradient(135deg, #385d7a 0%, #5d91b3 25%, #7bb0da 50%, #a6cceb 75%, #d1e2f2 100%);
}

.card-title,
.card-description {
  font-size: 130%;
}

